<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>推送</string>
			<key>content</key>
			<string>每天</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>字号大小</string>
			<key>content</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>清理缓存</string>
			<key>content</key>
			<string>5MB</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>去App store评分</string>
			<key>content</key>
			<string>http://itunes.apple.com/us/app/id1234</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>意见反馈</string>
			<key>content</key>
			<string>作者新浪微博:@无助的Tom</string>
		</dict>
		<dict>
			<key>title</key>
			<string>关于</string>
			<key>content</key>
			<string>163评论网 V1.0</string>
		</dict>
	</array>
</array>
</plist>
