<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>7</key>
	<dict>
		<key>color</key>
		<string>339933</string>
	</dict>
	<key>36</key>
	<dict>
		<key>color</key>
		<string>E67188</string>
	</dict>
	<key>10</key>
	<dict>
		<key>color</key>
		<string>F09609</string>
	</dict>
	<key>18</key>
	<dict>
		<key>color</key>
		<string>1BA1E2</string>
	</dict>
	<key>5</key>
	<dict>
		<key>color</key>
		<string>FF0097</string>
	</dict>
	<key>12</key>
	<dict>
		<key>color</key>
		<string>8CBF26</string>
	</dict>
	<key>35</key>
	<dict>
		<key>color</key>
		<string>E51400</string>
	</dict>
	<key>38</key>
	<dict>
		<key>color</key>
		<string>339933</string>
	</dict>
	<key>40</key>
	<dict>
		<key>color</key>
		<string>00ABA9</string>
	</dict>
	<key>9</key>
	<dict>
		<key>color</key>
		<string>1BA1E2</string>
	</dict>
	<key>39</key>
	<dict>
		<key>color</key>
		<string>F09609</string>
	</dict>
	<key>3</key>
	<dict>
		<key>color</key>
		<string>FF0097</string>
	</dict>
	<key>11</key>
	<dict>
		<key>color</key>
		<string>E51400</string>
	</dict>
	<key>4</key>
	<dict>
		<key>color</key>
		<string>F09609</string>
	</dict>
	<key>8</key>
	<dict>
		<key>color</key>
		<string>A200FF</string>
	</dict>
	<key>23</key>
	<dict>
		<key>color</key>
		<string>339933</string>
	</dict>
	<key>37</key>
	<dict>
		<key>color</key>
		<string>FF0097</string>
	</dict>
	<key>13</key>
	<dict>
		<key>color</key>
		<string>00ABA9</string>
	</dict>
	<key>6</key>
	<dict>
		<key>color</key>
		<string>00ABA9</string>
	</dict>
	<key>19</key>
	<dict>
		<key>color</key>
		<string>00ABA9</string>
	</dict>
	<key>32</key>
	<dict>
		<key>color</key>
		<string>F09609</string>
	</dict>
	<key>33</key>
	<dict>
		<key>color</key>
		<string>E51400</string>
	</dict>
</dict>
</plist>
